.banner {
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; /* Ensure the banner text is positioned correctly */
}

.banner::before {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.banner-text-area {
  position: relative;
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  z-index: 2; /* Ensure text appears above the overlay */
  color: white; /* Ensure text is visible against the background */
}

.banner-text-area > * {
  z-index: 2;
}

@media (max-width: 767px) {
  .banner {
    height: 35vh;
  }
  .banner-text-area {
    width: 100%;
    padding: 1.5rem;
  }
}
