.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s linear;
}
.movie-card:hover {
  transform: scale(1.1, 1.1);
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 0.5s linear;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
}
.overlay:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .p-1 {
    margin-left: 3.5rem;
  }
}
.movie-sub {
  display: flexbox;
}
