.carousel-containe {
  overflow: hidden;
  height: 440px;
}
.slider-title {
  z-index: 3;
}
@media (max-width: 576px) {
  .carousel-containe {
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
}
